vendor/
node_modules/
.git/
storage/app/
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/
storage/logs/
bootstrap/cache/*
*.env*
.env
.rr.yml
rr
frankenphp
fly.toml
.vscode/
.idea/
.sass-cache/
.DS_Store
Thumbs.db
public/hot
database/*.sqlite
*.log
.github/
